:root {
    --font-besar: 'Poppins', sans-serif;
    --font-tebal: 'Poppins', sans-serif;
    --font-kecil: Arial, sans-serif;
}

h1 {
    font-family: var(--font-besar);
    font-weight: 700;
}

h2, h3 {
    font-family: var(--font-tebal);
    font-weight: 600;
}

p {
    font-family: var(--font-kecil);
}

body {
    overflow-x: hidden;
    background: #F8FAFC;
}

@media(max-width:991px){

    .navbar-collapse{
        padding-top:10px;
    }

    .navbar-nav{
        gap:10px;
    }

}



.carousell .carousel .carousel-item img {
    height: 100vh;
    object-fit: cover;
    filter: brightness(70%);
}

section {
    margin-bottom: 100px;
}

.profil-sekolah .container .row .ps p {
    font-size: 20px;
    line-height: 1.8;
    word-spacing: 5px;
}

.visi-misi .container .row .card p {
    font-size: 20px;
    line-height: 1.8;
    word-spacing: 5px;
}

.angka {
    background-image: url(../img/back-data.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.stat-card{
    background: rgba(255,255,255,0.12);
    border: 1px solid rgba(255,255,255,0.2);
    backdrop-filter: blur(10px);

    padding: 40px 20px;
    border-radius: 25px;
    transition: all 0.3s ease;

}

.stat-card:hover{
    background: rgba(255, 255, 255, 0.3);
}

.icon{
    font-size: 50px;
}

.stat-card h1{
    font-size: 60px;
}

.stat-card h4{
    opacity: 0.9;
}

.artikel .container{
    background-image: url(../img/back-artikel.png);
    background-size: cover;
    background-position: center;
    border-radius: 20px;
}

.artikel-card{
    transition: 0.3s ease;
    border-radius: 18px;
    overflow: hidden;
}

.artikel-card:hover{
    transform: translateY(-6px);
    box-shadow: 0 10px 25px rgba(0,0,0,0.12) !important;
}

.artikel-img{
    height: 220px;
    object-fit: cover;
    transition: 0.4s ease;
}

.artikel-card:hover .artikel-img{
    transform: scale(1.05);
}

.stats-section {
    position: relative;
    margin-top: -35px;
    z-index: 5;
    padding-bottom: 40px;
}

